<div id="mainNav">
  <h1>
    <a routerLink="/products" style="text-decoration: none; color: 'black'"
      >Bonsai Store App</a
    >
  </h1>
  <nav>
    <a
      class="button"
      routerLink="products"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page"
    >
      Products
    </a>
    <a
      class="button"
      routerLink="cart"
      routerLinkActive="activebutton"
      aruaCurrentWhenActive="page"
    >
      Shopping Cart</a
    >
    <a
      class="button"
      routerLink="about"
      routerLinkActive="activebutton"
      aruaCurrentWhenActive="page"
    >
      About Us</a
    >
    <a
      class="button"
      routerLink="contact"
      routerLinkActive="activebutton"
      aruaCurrentWhenActive="page"
    >
      Contact Us</a
    >
  </nav>
</div>
<router-outlet></router-outlet>
